<article class="recipe">
      <div class="title">
        <a href="/recipe/{{id}}" target="_blank">{{recipe_name}}</a>
      </div>
      <div class="meta">
        {{recipe_instructions}}
      </div>
      <div class="meta">
        <h3>Ingredients:</h3>{{ingredients}}
      </div>
      <div class="meta">
        by {{user.username}} on
        {{created_at}}
</article>