<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>{{ingredients}}
   <a href="/recipe/{{id}}" target="_blank">{{recipe_name}}</a>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">{{recipe_instructions}}</p>
    <div class="meta">
    by {{user.username}} on {{created_at}}
    </div>
  </div>
</div>

